@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
    font-family: "Plus Jakarta Sans";
    color: #5E6282;
}
.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;

	overflow: clip;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page {
}
.page__hero {
	margin-bottom: 170px;
}
.page__features,
.page__services,
.page__reviews {
	margin-bottom: 200px;
}
.page__location {
	margin-bottom: 240px;
}
@media (max-width: 1200px) {
	.page__hero {
		margin-bottom: 100px;
	}
	.page__features,
	.page__services,
	.page__reviews,
	.page__location {
		margin-bottom: 100px;
	}
}
@media (max-width: 991.98px) {
	.page__hero {
		margin-bottom: 60px;
	}
	.page__features,
	.page__services,
	.page__reviews,
	.page__location {
		margin-bottom: 60px;
	}
}
@media (max-width: 767.98px) {
	.page__hero {
		margin-bottom: 50px;
	}
	.page__features,
	.page__services,
	.page__reviews,
	.page__location {
		margin-bottom: 50px;
	}
}
@media (max-width: 479.98px) {
	.page__hero {
		padding-top: 50px;
	}
}

/* Components */
.header-block {
	font-weight: 800;
}
.header-block--margin {
	margin-bottom: 90px;
}
.header-block__label {
	text-transform: uppercase;
	color: #4475f2;
	letter-spacing: 2px;
	font-size: 18px;
	line-height: 128%; /* 23/18 */
}
.header-block__label:not(:last-child) {
	margin-bottom: 10px;
}
.header-block__title {
	color: #000;
	font-size: 48px;
	line-height: 135.416667%; /* 65/48 */
}
@media (max-width: 1200px) {
	.header-block--margin {
		margin-bottom: 70px;
	}
}
@media (max-width: 991.98px) {
	.header-block--margin {
		margin-bottom: 50px;
	}
	.header-block__label {
		font-size: 16px;
	}
	.header-block__title {
		font-size: 42px;
	}
}
@media (max-width: 767.98px) {
	.header-block--margin {
		margin-bottom: 40px;
	}
	.header-block__label {
		font-size: 14px;
	}
	.header-block__title {
		font-size: 36px;
	}
}
@media (max-width: 479.98px) {
	.header-block--margin {
		margin-bottom: 30px;
	}
	.header-block__title {
		font-size: 32px;
	}
}
/* Header */
.header {
	/* position: sticky;
	top: 0; */
	padding-top: 77px;
	position: relative;
	z-index: 50;
}
.header__container {
	display: flex;
	align-items: center;
	column-gap: 125px;
}
.header__logo {
	flex: 0 0 80px;
}
.header__logo img {
	max-width: 100%;
	min-height: 100%;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	column-gap: 40px;
	row-gap: 13px;
	flex-wrap: wrap;
	align-items: center;
}
.menu__item {
}
.menu__link {
	font-size: 14px;
	color: #9a9ea6;
	transition: color 0.3s;
	text-shadow: 0 0 1px #fff;
}
.menu__link:hover {
	color: #4737ff;
}
@media (max-width: 991.98px) {
	.header__container {
		column-gap: 50px;
	}
	.menu__list {
		column-gap: 20px;
	}
}
@media (max-width: 479.98px) {
	.header {
		padding-top: 15px;
	}
	.header__container {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}
	.header__logo {
		max-width: 150px;
		flex: 0 0 auto;
	}
	.menu__list {
		justify-content: center;
	}
	.menu__link {
		font-size: 20px;
	}
}

/* hero*/

.hero {
    padding-top: 62px;
    padding-bottom: 40px;
	position: relative;
}
.hero__container {
    display: flex;
}


@media  (max-width: 1200px){
	.hero__container{
		flex-direction: column;
		row-gap: 30px;
	}
	
}
.hero__container::before,
.hero__container::after{
  
  content: "";
  position: absolute;
  background-color: #4475F2;
  transform-origin: left bottom;
  height: 150%;
  box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
  width: 100vw;
  border-radius: 50px;
 
  bottom: 0;
}


	

.hero__container::before{
  left: calc(50% + 30px);
  transform: skewX(-20deg);
}

.hero__container::after{
  left: calc(50% + 440px);
 transform: skewX(31deg) ;

}
.hero__content {
    flex: 0 1 50%;

}
.content-hero {
    display: grid;
    align-content: start;
    justify-items: start;
    gap: 30px;
	position: relative;
	z-index: 2;
}

@media (min-witdh:1200px) {
	.content-hero{padding-right: 20px;

	}
}
.content__title {
    font-size: 76px;
    font-weight: 800;
    color: #181E4B;
    letter-spacing: -4px;
    line-height: 117% ;
}

.content__title a {
    color: #4475F2;
    text-decoration: underline;
	text-shadow: 0px 0px 8px white;
}

.content__title a:hover {
    text-decoration: none;
}
.content-hero__text {

}

.content-hero__text p{
    line-height: 187%;
    
}

.content-hero__text p:not(:last-child){
    margin-bottom: 10px;    
}
.content__hero__button {
    display: inline-block;
    box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
    border-radius: 10px 10px 10px 10px;
    background-color: #4475F2;
   padding: 18px 54px;
    color:  white;
    font-weight: 700;
    line-height: 156.25%; /* 25/16 */
    position: relative;
    top: 0;
    transition: all 0.3s;
}

.content__hero__button:hover{
	top: 3px;
	box-shadow: 0 30px 60px 0 rgb(51, 133, 209);
}
.hero__images {
  flex: 0 1 50%;
}
.images-hero {
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 27px;

}
.images-hero__item {
}
.images-hero__image {
	border-radius: 10px;
	max-width: 100%;
}


.images-hero__item1{
	grid-row: span 2;
	align-self: end;
	padding-bottom: 10px;
}

.images-hero__item2 {
}

.images-hero__item3 {
	align-self: center;
	justify-self: end;
	grid-row: span 2;
	padding-bottom: 10px;
}

.images-hero__item4 {
	align-self: end;
	justify-self: end;
}
